* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    border: 2px solid #292626;
    border-radius: 5px;
    margin: 5%;
}

.hdr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5%;
}

.hdr a {
    text-decoration: none;
    color: #530c83;
}

.hdr a:hover {
    color: #7e12c5;
}

#start p {
    font-size: 110%;
    padding: 0 3% 0 3%;
    margin: 5% 0;
    text-align: center;
}

.inner-container {
    margin: 10% 30%;
    text-align: center;
}

.inner-container ul {
    margin: 7% 0;
}

.inner-container li {
    list-style-type: none;
    margin: 5px 0;
}

.btn {
    padding: 10px 20px;
    font-size: 102%;
    border-radius: 5px;
    background-color: #530c83;
    color: #FFFFFF;
}

.btn:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #7e12c5;
}

.hide {
    display: none;
}